{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
    <script src="/static/htmx-2.0.2.min.js"></script>
  </head>
  <body>
    {{template "add-user"}}
    <hr />
    {{template "list-users" .Users}}
    <script>
      document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        const status = evt.detail.xhr.status
        if (status >= 400 && status < 500) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
      });
    </script>
  </body>
</html>
{{end}}
